<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/animations.css">  
    <link rel="stylesheet" href="../static/css/main.css">  
    <link rel="stylesheet" href="../static/css/admin.css">
        
    <title>Dashboard</title>
    <style>
        .dashbord-tables{
            animation: transitionIn-Y-over 0.5s;
        }
        .filter-container{
            animation: transitionIn-Y-bottom  0.5s;
        }
        .sub-table{
            animation: transitionIn-Y-bottom 0.5s;
        }
    </style>
    
    
</head>
<body>

    <div class="container">
        <div class="menu">
            <table class="menu-container" border="0">
                <tr>
                    <td style="padding:10px" colspan="2">
                        <table border="0" class="profile-container">
                            <tr>
                                <td width="30%" style="padding-left:20px" >
                                    <img src="../static/img/user.png" alt="" width="100%" style="border-radius:50%">
                                </td>
                                <td style="padding:0px;margin:0px;">
                                    <p class="profile-title">Administrator</p>
                                    <p class="profile-subtitle">{{ admin_email }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a href="{{ url_for('logout') }}"><input type="button" value="Log out" class="logout-btn btn-primary-soft btn"></a>
                                </td>
                            </tr>
                    </table>
                    </td>
                </tr>
                <tr class="menu-row" >
                    <td class="menu-btn menu-icon-dashbord menu-active menu-icon-dashbord-active" >
                        <a href="index" class="non-style-link-menu non-style-link-menu-active"><div><p class="menu-text">Dashboard</p></a></div></a>
                    </td>
                </tr>
                <tr class="menu-row">
                    <td class="menu-btn menu-icon-doctor ">
                        <a href="doctors" class="non-style-link-menu "><div><p class="menu-text">Doctors</p></a></div>
                    </td>
                </tr>
                <tr class="menu-row">
                    <td class="menu-btn menu-icon-patient menu-active menu-icon-patient-active">
                        <a href="patients" class="non-style-link-menu "><div><p class="menu-text"> All Patients</p></a></div>
                    </td>
                </tr>
                <tr class="menu-row" >
                </tr>
                <tr class="menu-row">
                    </tr>
                <tr class="menu-row" >
                
                </tr>
            </table>
        </div>
        <div class="dash-body" style="margin-top: 15px">
            <table border="0" width="100%" style=" border-spacing: 0;margin:0;padding:0;" >
                        
                        <tr >
                            
                            <td colspan="2" class="nav-bar" >
                                
                                <form action="doctors.html" method="post" class="header-search">
        
                                    <input type="search" name="search" class="input-text header-searchbar" placeholder="Search Doctor name or Email" list="doctors">&nbsp;&nbsp;
                                
                                    <input type="Submit" value="Search" class="login-btn btn-primary-soft btn" style="padding-left: 25px;padding-right: 25px;padding-top: 10px;padding-bottom: 10px;">
                                
                                </form>
                                
                            </td>
                            <td width="15%">
                                <p style="font-size: 14px;color: rgb(119, 119, 119);padding: 0;margin: 0;text-align: right;">
                                    Date
                                </p>
                                <p class="heading-sub12" style="padding: 0;margin: 0;">{{ today_date }}</p>
                                </p>
                            </td>
                            <td width="10%">
                                <button  class="btn-label"  style="display: flex;justify-content: center;align-items: center;"><img src="../static/img/calendar.svg" width="100%"></button>
                            </td>
                        </tr>
                        <tr>
                    <td colspan="4">
                        
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        <table width="100%" border="0" class="dashbord-tables">
                            <tr>
                                <td>
                                    <p style="padding:10px;padding-left:48px;padding-bottom:0;font-size:23px;font-weight:700;color:var(--primarycolor);">
                                        Last Added Patients
                                    </p>
                                    <p style="padding-bottom:19px;padding-left:50px;font-size:15px;font-weight:500;color:#212529e3;line-height: 20px;">
                                        Here's last patients that is logges <br>
                                        More details available in @All Patients section.
                                    </p>

                                </td>
                                <td>
                                    <p style="text-align:right;padding:10px;padding-right:48px;padding-bottom:0;font-size:23px;font-weight:700;color:var(--primarycolor);">
                                        All Patients
                                    </p>
                                    <p style="padding-bottom:19px;text-align:right;padding-right:50px;font-size:15px;font-weight:500;color:#212529e3;line-height: 20px;">
                                        Here's Current Patient Number<br>
                                        More details available in @All Patients section.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="50%">
                                    <center>
                                        <div class="abc scroll" style="height: 200px;">
                                        <table width="85%" class="sub-table scrolldown" border="0">
                                        <thead>
                                        <tr>    
                                                <th class="table-headin" style="font-size: 12px;">
                                                        
                                                    Number
                                                    
                                                </th>
                                                <th class="table-headin">
                                                    Patient Name
                                                </th>
                                                <th class="table-headin">
                                                    
                                                
                                                    Injury
                                                    
                                                </th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if patients %}
                                            {% for patient in patients %}
                                            <tr>
                                                <td>{{ loop.index }}</td> <!-- Auto-incremented Appointment Number -->
                                                <td>{{ patient.name_surname }}</td>
                                                <td>{{ patient.injuries[0].muscle_name }}</td> <!-- Using injury data -->
                                            </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="4">No patients available</td>
                                            </tr>
                                        {% endif %}
                                            
                                            </tbody>
                
                                        </table>
                                        </div>
                                        </center>
                                </td>
                                <td style="width: 25%;">
                                    <div class="dashboard-items" style="padding: 20px; margin: auto; width: 95%; display: flex;">
                                        <div>
                                            <div class="h3-dashboard">There are</div>
                                            <div class="h1-dashboard">{{ total_users }} patients</div>
                                            <div class="h1-dashboard"></div>
                                            <div class="h3-dashboard">in the last situation</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <center>
                                        <a href="patients" class="non-style-link"><button class="btn-primary btn" style="width:85%">Show All Patients</button></a>
                                    </center>
                                </td>
                                <td>
                                    <center>
                                        <a href="patients" class="non-style-link"><button class="btn-primary btn" style="width:85%">See Details</button></a>
                                    </center>
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
                        </table>
                        </center>
                        </td>
                </tr>
            </table>
        </div>
    </div>


</body>
</html>
