<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/animations.css">  
    <link rel="stylesheet" href="../static/css/main.css">  
    <link rel="stylesheet" href="../static/css/index.css">
    <title>ExercEase</title>
    <style>
        table{
            animation: transitionIn-Y-bottom 0.5s;
        }
    </style>
</head>
<body>
    
    <div class="full-height">
        <center>
        <table border="0">
            <tr>
                <td width="80%">
                    <font class="edoc-logo">ExercEase </font>
                    <font class="edoc-logo-sub">| DOCTOR PANEL</font>
                </td>
                <!--
                <td width="10%">
                   <a href="{{ url_for('login') }}"  class="non-style-link"><p class="nav-item">LOGIN</p></a>
                </td>
                 
                <td  width="10%">
                   <a href="{{ url_for('login') }}" class="non-style-link"><p class="nav-item" style="padding-right: 10px;">REGISTER</p></a>
                </td> -->
            </tr>
            
            <tr>
                <td  colspan="3">
                    <p class="heading-text">Welcome, our dear Doctor.</p>

                </td>
            </tr>
            <tr>
                <td  colspan="3">
                    <p class="sub-text2">Many people experience injuries and struggle with finding appropriate exercises that are safe and effective for their condition.<br>Exercease is designed to assist individuals recovering from injuries by providing tailored exercises based on their pain levels and injury severity.  <br>
                   Do you want to be a part of our team? Contact with us on <a href="mailto:exerceasee@gmail.com">exerceasee@gmail.com</a></p>
                </td>
            </tr>
            <tr>
                
                <td colspan="3">
                    <center>
                    <a href="{{ url_for('login') }}">
                        <input type="button" value="Let's Start" class="login-btn btn-primary btn" style="padding-left: 25px;padding-right: 25px;padding-top: 10px;padding-bottom: 10px;">
                    </a>
                </center>
                </td>
                
            </tr>
            <tr>
                <td colspan="3">
                   
                </td>
            </tr>
        </table>
        <p class="sub-text2 footer-hashen">A Web Solution by Ali Zekai Deveci & Hafize Sanli.</p>
    </center>
    
    </div>
</body>
</html>
